*{
	margin: 0px auto;
	padding: 0px;
}
.container{
	width: 102%;
	height: 59px;
	margin: 0 auto;
	
}
header::after{
	content:'';
	display:table;
	clear: both;
	
	
}
nav {
	float: right;
	overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 1000%; /* Full width */
	
}
nav ul{
	margin: -7px;
	padding: 17px;
	list-style: none;
	
	
	
}
nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 25px;
	position: relative;
	
	
}

nav a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-family:courier;
	font-size:90%;
	float: center;
    display: block;
    color: #f2f2f2;
    
    padding: 20px 30px;
    text-decoration: none;
	
}

nav a:hover{
	background-color: #555;
    color: white;
}

a{
    text-decoration: none;
    
    color:#17242a;
    font-variant: small-caps;
   
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
#aboutme{
	height:10%;
	width:100%;
	background-color:#ffffff;
	backgound-size: cover;
}
.button {
   
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	position:fixed;
}
.button1 {
	font-family:courier;
    background-color: #F0F8FF; 
    color: black; 
    border: 2px solid black;
	position: absolute;
	top:200px;
	
	margin-top:100%;
	margin-left:-17%;
	width: 30%;
	height: 10%;
	font-size:16px;
	text-align:center;

	
}

.button1:hover {
    background-color: eeeee0;
    color: white;
}

.button2{
	font-family:courier;
    background-color: #F0F8FF; 
    color: black; 
    border: 2px solid black;
	position: absolute;
	top:200px;
	font:AlexandriaFLF-B;
	margin-top:107%;
	margin-left:-17%;
	width: 30%;
	height: 10%;
	
}
.button2:hover{
	background-color: eeeee0;
    color: white;
}
#frame{
	 position: relative;
  overflow: hidden;
  width: 860px;
  height: 100%;
 
}
#homepage{
	background-image: url("image/main.jpg");
	width:100%;
	height:700px;
	backgound-size:cover;
	display:table;
	background-attachment:fixed;
}
#experience{
	background-image: url("image/ex.jpg");
	width:100%;
	height:700px;
	backgound-size:cover;
	display:table;
	background-attachment:fixed;
}
#arrowb{
	margin-left: 115px;
	margin-top:50px;
}
div.gallery img {
    width: 90;
    height: auto;
	background-color: white;
}

div.contact h1{
	font-family:courier;
}
footer {
    padding: 1em;
    color: white;
    background-color: #7C7C7C;
    clear: left;
    text-align: center;
	font-family:courier;
}