*{
	margin: 0px auto;
	padding: 0px;
}
.container{
	width: 80%;
	height: 50px;
	margin: 0 auto;
	background-color: rgba;
}
header::after{
	content:'';
	display:table;
	clear: both;
}
nav {
	float: right;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 25px;
	position: relative;
}

nav a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size:10px;
}

nav a:hover{
	color: #000;
}
nav a::before{
	content:"";
	display: block;
	height: 5px;
	width: 100%;
	background-color:#444;
	position: absolute;
	top: 0;
	width:0%;
	transition: all ease-in-out 3000ms;
}
a{
    text-decoration: none;
    font-size:15px;
    color:#17242a;
    font-variant: small-caps;
    font-family: Gotham Regular;
}
#aboutme{
	height:10%;
	width:100%;
	background-color:#ffffff;
	backgound-size: cover;
}
.button {
   
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid black;
	position: absolute;
	top:200px;
	font: AlexandriaFLF-B;
	margin-top:134%;
	margin-left:-17%;
	width: 30%;
	height: 10%;
	
}
.button2{
    background-color: white; 
    color: black; 
    border: 2px solid black;
	position: absolute;
	top:200px;
	font:AlexandriaFLF-B;
	margin-top:140%;
	margin-left:-17%;
	width: 30%;
	height: 10%;
	
}

